<html>

<head></head>

<body>
    <form action="/bot1/echo" method="post" id="postdata">Data:<input type="submit">
    </form>
    <br>
    <textarea rows="40" cols="50" id="jsonmsg" name="data" form="postdata">{
        "attachments": [],
        "avatar_url": "https://i.groupme.com/123456789",
        "created_at": 1302623328,
        "group_id": "1234567890",
        "id": "1234567890",
        "name": "John",
        "sender_id": "12345",
        "sender_type": "user",
        "source_guid": "GUID",
        "system": false,
        "text": "Hello world ☃☃",
        "user_id": "1234567890"
      }</textarea>

</body>

</html>